.logo {
    height: 5rem;
}

span {
    color: #ffc300;
}

.soa {
    color: orange;
}

.content {
    font-size: 2.4rem;
    font-weight: 300;
    text-align: justify;
    text-indent: 10rem;
}

.history {
    font-size: 7rem;
    color: black;
}

.sticky {
    font-size: 15rem;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    color: #ffc300;
    margin-left: 6rem;
}

ul+h2 {
    font-size: 5rem;
}

ul>li {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}